<form [formGroup]="changepassword" (submit)="updatePassword()">
    <div class="card">
        <div class="card-header">
            <h3>Change Password</h3>
        </div>
        <div class="card-body">

            <table>
                <tr>
                    <td>Password</td>
                    <td><input type="password" formControlName="passcode" pInputText /></td>
                </tr>
                <tr>
                    <td>Re-Password</td>
                    <td><input type="password" formControlName="repasscode" pInputText /></td>
                </tr>
            </table>
        </div>
    </div>
    <p-button type="submit" label="Submit" icon="pi pi-check" [disabled]="isLoggedInformSocialMedia"></p-button>

</form>